.navigationbar-menu-item {
  display: inline-block;
  padding: 10px;
  font-size: 24pt;
}

.navigationbar-menu-item:hover {
  display: inline-block;
  padding: 10px;
  background-color: grey;
  transition: background-color 0.2s;
}

.navigationbar h1 {
  font-size: 30pt;
  margin: 20px;
}

nav.navigationbar {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
